$backColor: gray;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//Default media query max-width: 1200px
@media only screen and (max-width: 1200px),
  only screen and (max-height: 1025px) {
  .menu {
    display: none;
    &__link {
      display: none;
    }
  }
  //Main content
  .bookPg {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    //Wrappers for the two sections
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      margin: 50px 40px;
      width: 50vw;
      //star ratings
      &__stars {
        display: flex;
        margin-left: 35%;
        padding: 25px 0 0 0;
        font-size: 20pt;
      }
      //the second wrapper
      &--second {
        margin-bottom: 10%;
      }
    }
    //Book Picture
    &__picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 45vw;
      height: 60vh;
      background-image: url('../assets/pics/CallOfCthulhu.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
    //The Details of the book
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 0 0 20px 0;
      &--title {
        font-size: 30pt;
      }
      &--author {
        font-size: 20pt;
      }
      &--published {
        font-size: 17pt;
      }
      &--numPgs {
        font-size: 15pt;
      }
      &--mobile {
        display: none;
      }
    }

    &__summary {
      display: inline-block;
    }
  }

  .buttons-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__btns {
      padding: 10px 20px;
      margin: 0 10px 30px 10px;
      width: 20%;
      padding: 9px 10px 9px;
      border-radius: 2rem;
      background: turquoise;
      &--edit {
        background: darken(turquoise, 30%);
      }
    }
  }
}

@media only screen and (max-width: 1020px), only screen and(max-height:769px) {
  .title {
    font-size: 12;
  }
  .bookPg {
    &__picture {
      height: 75vh;
    }
    &__details {
      &--title {
        font-size: 25pt;
      }
      &--author {
        font-size: 18pt;
      }
      &--published {
        font-size: 14pt;
      }
      &--numPgs {
        font-size: 13pt;
      }
    }
  }
}

@media only screen and (max-height: 375px), only screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background: gray;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;

    &__link {
      display: inline;
      padding: 20px;
      font-size: 2rem;
      color: black;
      text-decoration: none;
      &--selector {
        color: white;
      }
    }
  }
  .showMenu {
    transform: translateY(0);
  }
  .bookPg {
    flex-direction: column;
    &__wrapper {
      width: 100%;
      margin-top: 0;

      &__stars {
        align-items: center;
      }
    }
    &__picture {
      justify-content: center;
      align-items: center;
      width: 100%;
      background-size: contain;
    }

    &__details {
      align-items: center;

      &--mobile {
        display: flex;
        justify-content: center;
        align-content: center;
      }
      &--desktop {
        display: none;
      }
    }
    &__summary {
      margin: 0 30px;
      font-size: 14pt;
      text-align: center;
    }
  }
  .buttons-Wrapper {
    flex-direction: column;
    &__btns {
      width: 50%;
    }
  }
}
